@import 'reset.scss';
@import '../fonts/read/index.scss';
@import '../fonts/title/index.scss';

// Color Palette
$colors: (
	menu: #4A90E2,
	order: #CF2643,
	info: #F5A623,
	edit: #7F73D3
);

$palette: (
	text: #454545,
	text-light: #909090,
	bubble: #F5A623,
	link: #0096FF
);

$page_types: menu, order, info;
$button_types: menu, order, info, add, less, save;

$button_colors: (
	menu: map-get($colors, "menu"),
	order: map-get($colors, "order"),
	info: map-get($colors, "info"),
	save: map-get($colors, "edit"),
	add: #A4CF79,
);

* { box-sizing: border-box; }

body {
	background: #fff;
	font-family: Georgia;
}

.container {
	width: 750px;
	margin: 0 auto;
}

.grid {
  	display: flex;

	.cell {
		flex: 1;
	}

	@for $i from 1 through 10 {
		$w: ($i * 5px);
		.gutter-#{$w} {
			width: $w;
		}
	}
}

a {
	$color: map-get($palette, "link");
	color: $color;
	border-bottom: 1px solid $color;
	text-decoration: none;

	&:hover {
		color: darken($color, 20%);
		border-color: darken($color, 20%);
	}
}

p {
    line-height: 140%;
    
    strong {
        font-weight: bold;
    }
}

form {
    margin-top: 18px; 
}

header.header {
	height: 250px;
	background-image: url(../stock/stock-5.jpg);
	background-size: 100%;
	background-position: center center;

	.logo {
		width: 160px;
		height: 160px;
		margin-top: 40px;
	}

	nav {
		margin-top: 85px;

		ul {
			margin-left: 10px;
		}

		li {
			display: inline-block;
			margin: 0 8px;

			h3 {
				font-family: "Alex Brush";
				font-style: italic;
				font-size: 32px;
			}

			h2 {
				margin-top: -8px;
				font-family: "Title";
				text-transform: uppercase;
				border-top: 2px solid #000;
				font-size: 50px;
				-webkit-text-stroke: 1px #fff;

				a {
					color: inherit;
					border: none;
				}
			}
		}

		p {
			margin-left: 18px;

			a {
				color: rgba(0,0,0,0.8);
				border-bottom: none;
				text-decoration: underline;
				text-transform: uppercase;
				font-size: 14px;
				display: inline-block;
				margin-right: 14px;
			}
                        
                        .profile-link {
                            margin: 0;
                            text-transform: none;
                            font-size: 16px;
                        }
		}
	}
}

.restaurant {
	$margin: 12px;
	margin: $margin 0;
	padding: $margin 0; 
	margin-bottom: 0;
	padding-bottom: 0;

	.thumb {
            img {
                width: 240px;
                border-radius: 8px; 
            }
	}

	.description {
		font-family: georgia;

		h3 {
			font-size: 28px;
			font-style: italic;
			color: #000;
			margin: 0 $margin 6px;

			a {
				border: none;
				color: inherit;
			}
		}

		h4 {
			text-transform: uppercase;
			font-size: 14px;
			margin: 4px $margin;
			color: map-get($palette, "text-light");
		}

		p {
			font-size: 13px;
			font-family: "Proxima Nova";
			margin: $margin;
			line-height: 140%;
		}
	}

	.meta {
		width: 175px;

		.opening-times, .availability {
			margin: 0 $margin/2 $margin;

			.icon {
				padding: 2px 8px 6px 0;
			}

			h4 {
				font-size: 20px;
				color: #454545;
			}

			h5 {
				font-size: 12px;
				margin: 3px 0;
				color: #909090;
			}
		}

		.availability {
			padding-bottom: 6px;
			margin-bottom: 6px;
			border-bottom: 1px solid #D9D9D9;
		}

		.buttons {
			.cell {
				padding: 4px;
			}
		}
	}
}

.owner {
    margin: 12px 0;
    background: lighten(#FFF99F, 10%);
    padding: 16px;
    border-radius: 6px;
    
    ul {
        list-style: disc;
        
        li {
            margin: 8px 16px;
        }
    }
}

.icon-button {
	background-color: #B5B5B5;
	border-radius: 6px;
	border: none;
	text-transform: uppercase;
	color: #464646;
	font-family: "Proxima Nova";
        font-size: 12px;
	text-align: center;
	padding: 0;
	padding-top: 26px;
	padding-bottom: 4px;
	cursor: pointer;
	display: inline-block;
	width: 100%;
        outline: none;

	background-repeat: no-repeat;
	background-position: center 8px;

	&.active, &.light, &:hover {
            color: #fff;
	}

	@each $button_type in $button_types {
		&.#{$button_type} {
			background-image: url(../icon/#{$button_type}-icon-svg.svg);

			&.active, &.light, &:hover { 
				background-image: url(../icon/#{$button_type}-icon-light-svg.svg); 
				background-color: map-get($button_colors, $button_type);
			}
                        
                        &.disabled {
                            background-image: url(../icon/#{$button_type}-icon-svg.svg); 
                        }
		}
	}

	&.small {
		background-size: 60%;
		padding: 8px;
	}

	// Button specific fixes
	&.add {
		background-position: center 6px;

		&.small {
			background-position: center;
		}
	}
        
        &.disabled {
            &:hover {
                background-color: #B5B5B5;
                color: #464646;
                opacity: 0.6;
            }
        }

	// Display the notification bubble
	&[data-notification-count] {
		position: relative; 

		&:before {
			display: block;
			content: attr(data-notification-count);
			position: absolute;
			background: map-get($palette, "bubble");
			padding: 2px 6px;
			border-radius: 12px;
			font-size: 12px;
			margin-top: -34px;
			right: -6px;
		}
	}
}

.rating {
	color: #909090;

	strong {
		color: #CF2643;
	}
}

.input {
	margin-bottom: 12px;

	label {
		font-family: "Proxima Nova";
		display: block;
	}

	input[type=text], input[type=password], textarea {
		display: block;
		border: none;
		outline: none;
		width: 100%;
		font-size: 20px;
		padding: 4px;
		font-family: "Proxima Nova";
		margin-top: 8px;
                background: #eee;
	}
        
        textarea {
            height: 140px;
        }

	&:before {
		content: "";
		display: block;
		width: 40px;
		height: 40px;
		position: absolute;
		margin-left: -40px;
		margin-top: 22px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 50%;
	}
        
        input[type=submit] {
            display: inline-block;
            padding: 4px 6px 0;
            outline: none;
            font-size: 28px;
            border: none;
            text-transform: uppercase;
            font-family: "Title";
            letter-spacing: 4px;
            border-radius: 6px;
        }
        
        &.submit {
            text-align: center;
            margin: 24px;
        }
}

$input_icons: pencil, clock, person, lock, card, calendar, fingerprint, mail, info, order;
@each $icon in $input_icons {
	.input.icon-#{$icon}{
		padding-left: 40px;
		position: relative;

		&:before {
			background-image: url(../icon/#{$icon}-icon.svg);
		}
	}
}

@each $page_type in $page_types {
	$color: map-get($colors, $page_type);
	
	.#{$page_type} .input input[type=text] {
		background: lighten($color, 40%);
		border-bottom: 3px solid $color;
	}
}

.sub-title {
	border-bottom: 1px solid #979797;
	color: #979797;
	font-family: "Proxima Nova";
	height: 24px;
	margin-bottom: 24px;

	span {
		font-size: 24px;
		background: #fff;
		margin-top: 12px;
		margin-left: 38px;
		padding: 0 8px;
		display: inline-block;
		text-transform: uppercase;
	}
}

.restaurant-page {
	.title {
		padding-top: 14px;
		background-repeat: no-repeat;

		h3 {
			color: #fff;
			font-family: "Proxima Nova";
			font-size: 32px;
			padding: 8px 8px 2px;

			border-width: 5px;
			border-style: solid;
			border-top: none;
			border-right: none;
			border-left: none;
		}
	}

	$triangle_positions: (menu: 133px, order: 74px, info: 17px);

	@each $page_type in $page_types {
		$color: map-get($colors, $page_type);

		&.#{$page_type} {
			.title {
				background-image: url(../icon/triangle-#{$page-type}.svg);
				background-position: right map-get($triangle_positions, $page-type) top;
			}

			.title h3 {
				background-color: $color;
				border-color: darken($color, 10%);
			}
		}
	}
}

.page {
    .title {
        font-family: "Alex Brush";
        color: #444;
        font-size: 44px;
        margin: 0 30px;
        margin-top: 12px;
        text-align: center;
            
        &:before, &:after {
            display: inline-block;
            content: '';
            width: 100px;
            height: 80px;
            background-repeat: no-repeat;
            background-size: 100%;
        }

        &:before {
            background-image: url(../svg/separator-left.svg);
        }

        &:after {
            background-image: url(../svg/separator-right.svg);
            background-position: center -2px left;
        }
        
        h3 {
            vertical-align: top;
            display: inline-block;
            height: 60px;
            margin: 12px;
            margin-left: 15px;
            margin-right: 0;
            margin-top: 16px;
        }
    }
    
    h1 {
        font-size: 38px;
        margin: 18px 36px;
        margin-top: 0;
    }
    
    .info-block {
        width: 30%;
        
        p {
            margin: 18px;
        }
    }
}

.order-content {
        $color: map-get($colors, "order");
        padding: 4px 12px 12px;

        h6 {
                text-transform: uppercase;
                font-family: "Proxima Nova";
                color: $color;
                font-size: 14px;
                margin: 6px 0;
        }

        p {
                line-height: 140%;
                margin-top: 12px;

                a {
                        text-transform: uppercase;
                        font-size: 12px;
                        color: $color;
                        font-family: "Proxima Nova";
                        border-color: $color;
                }
                
                &.description {
                    font-size: 80%;
                    color: #777;
                    text-style: italic;
                    margin-top: 4px;
                }
                
        }

        .order-total {
                margin-top: 18px;
                padding-top: 8px;
                border-top: 1px solid rgba(0,0,0,0.4);
                text-align: right;
                font-size: 18px;
        }
}

.menu {
	.menu-items {
		width: 70%;
		padding-right: 12px;

		.menu-item {
			margin-bottom: 16px;

			h3 {
				font-size: 20px;
				margin-bottom: 8px;
				border-bottom: 1px dotted #000;
				height: 22px;

				span {
					display: inline-block;
					background: #fff;
					margin: 4px;
					margin-left: 0;
					padding-right: 6px;
				}
			}

			p {
				font-style: italic;
				color: #777;
				line-height: 140%;
				width: 90%;
			}

			.price {
				float: right;
				background: #fff;
				margin-top: 4px;
				font-size: 18px;
				padding-right: 8px;
			}

			.button {
				width: 9%;
			}
		}
	}
        
        .add-item {
            float: right;
            background: #fff;
            margin-top: 8px;
            padding: 4px 8px;
        }

	.menu-order {
		$color: map-get($colors, "order");
		padding: 12px 0 0 12px;

		.order-header {
			background: $color;
			padding: 6px;
			border-top-right-radius: 6px;
			border-top-left-radius: 6px;
			border-bottom: 4px solid darken($color, 12%);

			h4 {
				color: #fff;
				font-family: "Proxima Nova";
				font-size: 20px;
				text-transform: uppercase;
			}

			h5 {
				width: 50%;
				text-align: right;

				.icon-button {
					width: 20px;
					background-color: rgba(0,0,0,0.3);
				}

				span {
					display: inline-block;
					padding: 0 6px;
					padding-top: 2px;
					color: #fff;
					font-family: "Proxima Nova";
				}
			}
		}

		.user-visor {
			border-bottom: 4px solid darken($color, 12%);

			.flap {
				background: $color;
				color: rgba(0,0,0,0.4);
				padding: 8px 8px;
				cursor: pointer;
			}

			.user-name {
				background: lighten($color, 40%);

				h5 {
					color: map-get($palette, "text");
					text-align: center;
					padding: 6px 8px;
					font-size: 18px;
					font-family: "Proxima Nova";
				}
			}
		}

		.order-content {
			background: lighten($color, 40%);
			border-bottom-right-radius: 6px;
			border-bottom-left-radius: 6px;
		}
	}

	.menu-option {
		$color: map-get($colors, "edit");
		background-image: url(../icon/triangle-edit-svg.svg);
		background-position: right 13px top;
		background-repeat: no-repeat;
		padding-top: 12px;
		margin-top: -11px;
		margin-bottom: 14px;

		.option-title {
			.box {
				background-color: $color;
				border-bottom: 3px solid darken($color, 10%);
				padding: 6px;

				h3 {
					font-size: 20px;
					font-family: "Proxima Nova";
					color: #fff;
				}

				.icon-button {
					width: 20px;
					background-color: rgba(0,0,0,0.3);
					background-size: 65%;
					background-position: center 9px;
					margin-right: 7px;
				}
			}
		}

		.options {
			background-color: lighten($color, 30%);
			border-bottom-right-radius: 6px;
			border-bottom-left-radius: 6px;
			padding: 10px 18px;

			.option {
				margin-bottom: 30px;

				p {
					font-family: "Proxima Nova";
				}

				&:first-child {
					margin-top: 12px;
				}

				&:last-child {
					margin-bottom: 8px;
				}

				.option-value {
					select {
						width: 100px;
					}
				}
			}
		}
	}
}

.order {
	.order-content {
		padding-right: 12px;
	}
}

.info {
	.info-block {
		padding-top: 18px;

		.photo {
			padding: 14px;

			img {
				width: 100%;
				min-height: 180px;
				background: rgba(0,0,0,0.3);
				border-radius: 6px;
			}
		}

		ul {
			margin: 14px;

			li {
				margin: 18px 0;
				font-family: "Proxima Nova";

				img {
					display: inline-block;
					margin-right: 12px;
				}
			}
		}
	}

	.reviews {
		margin-top: 30px;

		.review {
			margin-bottom: 30px;

			.review-title {
				height: 50px;

				.avatar {
					width: 50px;
					height: 50px;
					display: inline-block;
					float: left;
					background: rgba(0,0,0,0.3);
					border-radius: 60px;
				}

				h3 {
					font-size: 22px;
					margin-top: 12px;
					margin-left: 60px;
					margin-bottom: 8px;
				}

				h4 {
					color: map-get($palette, "text-light");
					margin-left: 60px;
					font-size: 14px;
				}
			}

			.review-content {
				p {
					font-family: "Proxima Nova";
					line-height: 140%;
					margin-top: 12px;
					margin-right: 30px;
				}

				.ratings {
					padding-left: 14px;
					width: 22%;
					border-left: 1px solid #bbb;

					.rating {
						margin-left: 14px;
					}

					ul li {
						margin: 6px 0;
						text-align: right;
						font-size: 14px;
						font-family: "Proxima Nova";
					}

					.overall {

						.rating {
							display: inline-block;
							padding-top: 12px;
							margin-top: 9px;
							border-top: 1px solid #bbb;
						}
					}
				}
			}
		}
	}
}

.error {
    background: lighten(#CF2643, 30%);
    text-align: center;
    color: darken(#CF2643, 20%);
    border-radius: 6px;
    margin: 12px;
    padding: 8px;
    font-family: "Proxima Nova";
}

.error-page {
    margin: 20px;
    text-align: center;
    
    h2 {
        font-family: "Alex Brush";
        font-size: 140px; 
        margin: 40px;
    }
    
    h3, p {
        font-family: "Proxima Nova";
    }
    
    h3 { font-size: 20px; }
    p { font-size: 16px; margin-top: 12px; color: #777; }
}

footer {
	p {
		text-align: center;
		margin: 30px;
		text-align: center;
		font-size: 15px;
		color: rgba(0,0,0,0.4);
	}
}

.signup .signup-info {
    width: 30%;
    
    p {
        margin: 8px 16px;
    }
    
    .need-you {
        text-align: center;
        
        img {
            width: 130px;
            margin-bottom: 16px;
        }
    }
}

.login {
    width: 320px;
    height: 320px;
    
    margin: 0 auto;
    
    .submit {
        text-align: center;
        margin-top: 28px;
    }
}
        
.empty-list {
    text-align: center;
    color: #ddd;
    font-style: italic;
    margin: 20px;
    
    &.inverted {
        color: rgba(0,0,0,0.4);
    }
}

.orders {
    margin-top: 18px;
}

.static-webpage
{
    p{
        font-family:"Read";
    }
    h1
    {
        text-align: center;
        font-family:"Read";
        font-size:32px;
    }
}

.coming-soon {
    text-align: center;
    font-size: 170%;
    color: #777;
    font-style: italic;
}