/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Read';
  src: url("/JustDine/JustDine/assets/fonts/read/read.eot?#iefix") format("embedded-opentype"), url("/JustDine/assets/fonts/read/read.otf") format("opentype"), url("/JustDine/assets/fonts/read/read.woff") format("woff"), url("/JustDine/assets/fonts/read/read.ttf") format("truetype"), url("/JustDine/assets/fonts/read/read.svg#Read") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Title';
  src: url("/JustDine/assets/fonts/title/title.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Title';
  src: url("/JustDine/assets/fonts/title/title.otf") format("opentype"), url("/JustDine/assets/fonts/title/title.woff") format("woff"), url("/JustDine/assets/fonts/title/title.ttf") format("truetype"), url("/JustDine/assets/fonts/title/title.svg#title") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box; }

body {
  background: #fff;
  font-family: Georgia; }

.container {
  width: 750px;
  margin: 0 auto; }

.grid {
  display: flex; }
  .grid .cell {
    flex: 1; }
  .grid .gutter-5px {
    width: 5px; }
  .grid .gutter-10px {
    width: 10px; }
  .grid .gutter-15px {
    width: 15px; }
  .grid .gutter-20px {
    width: 20px; }
  .grid .gutter-25px {
    width: 25px; }
  .grid .gutter-30px {
    width: 30px; }
  .grid .gutter-35px {
    width: 35px; }
  .grid .gutter-40px {
    width: 40px; }
  .grid .gutter-45px {
    width: 45px; }
  .grid .gutter-50px {
    width: 50px; }

a {
  color: #0096FF;
  border-bottom: 1px solid #0096FF;
  text-decoration: none; }
  a:hover {
    color: #005a99;
    border-color: #005a99; }

p {
  line-height: 140%; }
  p strong {
    font-weight: bold; }

form {
  margin-top: 18px; }

header.header {
  height: 250px;
  background-image: url(../stock/stock-5.jpg);
  background-size: 100%;
  background-position: center center; }
  header.header .logo {
    width: 160px;
    height: 160px;
    margin-top: 40px; }
  header.header nav {
    margin-top: 85px; }
    header.header nav ul {
      margin-left: 10px; }
    header.header nav li {
      display: inline-block;
      margin: 0 8px; }
      header.header nav li h3 {
        font-family: "Alex Brush";
        font-style: italic;
        font-size: 32px; }
      header.header nav li h2 {
        margin-top: -8px;
        font-family: "Title";
        text-transform: uppercase;
        border-top: 2px solid #000;
        font-size: 50px;
        -webkit-text-stroke: 1px #fff; }
        header.header nav li h2 a {
          color: inherit;
          border: none; }
    header.header nav p {
      margin-left: 18px; }
      header.header nav p a {
        color: rgba(0, 0, 0, 0.8);
        border-bottom: none;
        text-decoration: underline;
        text-transform: uppercase;
        font-size: 14px;
        display: inline-block;
        margin-right: 14px; }
      header.header nav p .profile-link {
        margin: 0;
        text-transform: none;
        font-size: 16px; }

.restaurant {
  margin: 12px 0;
  padding: 12px 0;
  margin-bottom: 0;
  padding-bottom: 0; }
  .restaurant .thumb img {
    width: 240px;
    border-radius: 8px; }
  .restaurant .description {
    font-family: georgia; }
    .restaurant .description h3 {
      font-size: 28px;
      font-style: italic;
      color: #000;
      margin: 0 12px 6px; }
      .restaurant .description h3 a {
        border: none;
        color: inherit; }
    .restaurant .description h4 {
      text-transform: uppercase;
      font-size: 14px;
      margin: 4px 12px;
      color: #909090; }
    .restaurant .description p {
      font-size: 13px;
      font-family: "Proxima Nova";
      margin: 12px;
      line-height: 140%; }
  .restaurant .meta {
    width: 175px; }
    .restaurant .meta .opening-times, .restaurant .meta .availability {
      margin: 0 6px 12px; }
      .restaurant .meta .opening-times .icon, .restaurant .meta .availability .icon {
        padding: 2px 8px 6px 0; }
      .restaurant .meta .opening-times h4, .restaurant .meta .availability h4 {
        font-size: 20px;
        color: #454545; }
      .restaurant .meta .opening-times h5, .restaurant .meta .availability h5 {
        font-size: 12px;
        margin: 3px 0;
        color: #909090; }
    .restaurant .meta .availability {
      padding-bottom: 6px;
      margin-bottom: 6px;
      border-bottom: 1px solid #D9D9D9; }
    .restaurant .meta .buttons .cell {
      padding: 4px; }

.owner {
  margin: 12px 0;
  background: #fffcd2;
  padding: 16px;
  border-radius: 6px; }
  .owner ul {
    list-style: disc; }
    .owner ul li {
      margin: 8px 16px; }

.icon-button {
  background-color: #B5B5B5;
  border-radius: 6px;
  border: none;
  text-transform: uppercase;
  color: #464646;
  font-family: "Proxima Nova";
  font-size: 12px;
  text-align: center;
  padding: 0;
  padding-top: 26px;
  padding-bottom: 4px;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  outline: none;
  background-repeat: no-repeat;
  background-position: center 8px; }
  .icon-button.active, .icon-button.light, .icon-button:hover {
    color: #fff; }
  .icon-button.menu {
    background-image: url(../icon/menu-icon-svg.svg); }
    .icon-button.menu.active, .icon-button.menu.light, .icon-button.menu:hover {
      background-image: url(../icon/menu-icon-light-svg.svg);
      background-color: #4A90E2; }
    .icon-button.menu.disabled {
      background-image: url(../icon/menu-icon-svg.svg); }
  .icon-button.order {
    background-image: url(../icon/order-icon-svg.svg); }
    .icon-button.order.active, .icon-button.order.light, .icon-button.order:hover {
      background-image: url(../icon/order-icon-light-svg.svg);
      background-color: #CF2643; }
    .icon-button.order.disabled {
      background-image: url(../icon/order-icon-svg.svg); }
  .icon-button.info {
    background-image: url(../icon/info-icon-svg.svg); }
    .icon-button.info.active, .icon-button.info.light, .icon-button.info:hover {
      background-image: url(../icon/info-icon-light-svg.svg);
      background-color: #F5A623; }
    .icon-button.info.disabled {
      background-image: url(../icon/info-icon-svg.svg); }
  .icon-button.add {
    background-image: url(../icon/add-icon-svg.svg); }
    .icon-button.add.active, .icon-button.add.light, .icon-button.add:hover {
      background-image: url(../icon/add-icon-light-svg.svg);
      background-color: #A4CF79; }
    .icon-button.add.disabled {
      background-image: url(../icon/add-icon-svg.svg); }
  .icon-button.less {
    background-image: url(../icon/less-icon-svg.svg); }
    .icon-button.less.active, .icon-button.less.light, .icon-button.less:hover {
      background-image: url(../icon/less-icon-light-svg.svg); }
    .icon-button.less.disabled {
      background-image: url(../icon/less-icon-svg.svg); }
  .icon-button.save {
    background-image: url(../icon/save-icon-svg.svg); }
    .icon-button.save.active, .icon-button.save.light, .icon-button.save:hover {
      background-image: url(../icon/save-icon-light-svg.svg);
      background-color: #7F73D3; }
    .icon-button.save.disabled {
      background-image: url(../icon/save-icon-svg.svg); }
  .icon-button.small {
    background-size: 60%;
    padding: 8px; }
  .icon-button.add {
    background-position: center 6px; }
    .icon-button.add.small {
      background-position: center; }
  .icon-button.disabled:hover {
    background-color: #B5B5B5;
    color: #464646;
    opacity: 0.6; }
  .icon-button[data-notification-count] {
    position: relative; }
    .icon-button[data-notification-count]:before {
      display: block;
      content: attr(data-notification-count);
      position: absolute;
      background: #F5A623;
      padding: 2px 6px;
      border-radius: 12px;
      font-size: 12px;
      margin-top: -34px;
      right: -6px; }

.rating {
  color: #909090; }
  .rating strong {
    color: #CF2643; }

.input {
  margin-bottom: 12px; }
  .input label {
    font-family: "Proxima Nova";
    display: block; }
  .input input[type=text], .input input[type=password], .input textarea {
    display: block;
    border: none;
    outline: none;
    width: 100%;
    font-size: 20px;
    padding: 4px;
    font-family: "Proxima Nova";
    margin-top: 8px;
    background: #eee; }
  .input textarea {
    height: 140px; }
  .input:before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    margin-left: -40px;
    margin-top: 22px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50%; }
  .input input[type=submit] {
    display: inline-block;
    padding: 4px 6px 0;
    outline: none;
    font-size: 28px;
    border: none;
    text-transform: uppercase;
    font-family: "Title";
    letter-spacing: 4px;
    border-radius: 6px; }
  .input.submit {
    text-align: center;
    margin: 24px; }

.input.icon-pencil {
  padding-left: 40px;
  position: relative; }
  .input.icon-pencil:before {
    background-image: url(../icon/pencil-icon.svg); }

.input.icon-clock {
  padding-left: 40px;
  position: relative; }
  .input.icon-clock:before {
    background-image: url(../icon/clock-icon.svg); }

.input.icon-person {
  padding-left: 40px;
  position: relative; }
  .input.icon-person:before {
    background-image: url(../icon/person-icon.svg); }

.input.icon-lock {
  padding-left: 40px;
  position: relative; }
  .input.icon-lock:before {
    background-image: url(../icon/lock-icon.svg); }

.input.icon-card {
  padding-left: 40px;
  position: relative; }
  .input.icon-card:before {
    background-image: url(../icon/card-icon.svg); }

.input.icon-calendar {
  padding-left: 40px;
  position: relative; }
  .input.icon-calendar:before {
    background-image: url(../icon/calendar-icon.svg); }

.input.icon-fingerprint {
  padding-left: 40px;
  position: relative; }
  .input.icon-fingerprint:before {
    background-image: url(../icon/fingerprint-icon.svg); }

.input.icon-mail {
  padding-left: 40px;
  position: relative; }
  .input.icon-mail:before {
    background-image: url(../icon/mail-icon.svg); }

.input.icon-info {
  padding-left: 40px;
  position: relative; }
  .input.icon-info:before {
    background-image: url(../icon/info-icon.svg); }

.input.icon-order {
  padding-left: 40px;
  position: relative; }
  .input.icon-order:before {
    background-image: url(../icon/order-icon.svg); }

.menu .input input[type=text] {
  background: #fafcfe;
  border-bottom: 3px solid #4A90E2; }

.order .input input[type=text] {
  background: #f6cbd3;
  border-bottom: 3px solid #CF2643; }

.info .input input[type=text] {
  background: #fef5e6;
  border-bottom: 3px solid #F5A623; }

.sub-title {
  border-bottom: 1px solid #979797;
  color: #979797;
  font-family: "Proxima Nova";
  height: 24px;
  margin-bottom: 24px; }
  .sub-title span {
    font-size: 24px;
    background: #fff;
    margin-top: 12px;
    margin-left: 38px;
    padding: 0 8px;
    display: inline-block;
    text-transform: uppercase; }

.restaurant-page .title {
  padding-top: 14px;
  background-repeat: no-repeat; }
  .restaurant-page .title h3 {
    color: #fff;
    font-family: "Proxima Nova";
    font-size: 32px;
    padding: 8px 8px 2px;
    border-width: 5px;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none; }
.restaurant-page.menu .title {
  background-image: url(../icon/triangle-menu.svg);
  background-position: right 133px top; }
.restaurant-page.menu .title h3 {
  background-color: #4A90E2;
  border-color: #2275d7; }
.restaurant-page.order .title {
  background-image: url(../icon/triangle-order.svg);
  background-position: right 74px top; }
.restaurant-page.order .title h3 {
  background-color: #CF2643;
  border-color: #a41e35; }
.restaurant-page.info .title {
  background-image: url(../icon/triangle-info.svg);
  background-position: right 17px top; }
.restaurant-page.info .title h3 {
  background-color: #F5A623;
  border-color: #db8c0a; }

.page .title {
  font-family: "Alex Brush";
  color: #444;
  font-size: 44px;
  margin: 0 30px;
  margin-top: 12px;
  text-align: center; }
  .page .title:before, .page .title:after {
    display: inline-block;
    content: '';
    width: 100px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: 100%; }
  .page .title:before {
    background-image: url(../svg/separator-left.svg); }
  .page .title:after {
    background-image: url(../svg/separator-right.svg);
    background-position: center -2px left; }
  .page .title h3 {
    vertical-align: top;
    display: inline-block;
    height: 60px;
    margin: 12px;
    margin-left: 15px;
    margin-right: 0;
    margin-top: 16px; }
.page h1 {
  font-size: 38px;
  margin: 18px 36px;
  margin-top: 0; }
.page .info-block {
  width: 30%; }
  .page .info-block p {
    margin: 18px; }

.order-content {
  padding: 4px 12px 12px; }
  .order-content h6 {
    text-transform: uppercase;
    font-family: "Proxima Nova";
    color: #CF2643;
    font-size: 14px;
    margin: 6px 0; }
  .order-content p {
    line-height: 140%;
    margin-top: 12px; }
    .order-content p a {
      text-transform: uppercase;
      font-size: 12px;
      color: #CF2643;
      font-family: "Proxima Nova";
      border-color: #CF2643; }
    .order-content p.description {
      font-size: 80%;
      color: #777;
      text-style: italic;
      margin-top: 4px; }
  .order-content .order-total {
    margin-top: 18px;
    padding-top: 8px;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    text-align: right;
    font-size: 18px; }

.menu .menu-items {
  width: 70%;
  padding-right: 12px; }
  .menu .menu-items .menu-item {
    margin-bottom: 16px; }
    .menu .menu-items .menu-item h3 {
      font-size: 20px;
      margin-bottom: 8px;
      border-bottom: 1px dotted #000;
      height: 22px; }
      .menu .menu-items .menu-item h3 span {
        display: inline-block;
        background: #fff;
        margin: 4px;
        margin-left: 0;
        padding-right: 6px; }
    .menu .menu-items .menu-item p {
      font-style: italic;
      color: #777;
      line-height: 140%;
      width: 90%; }
    .menu .menu-items .menu-item .price {
      float: right;
      background: #fff;
      margin-top: 4px;
      font-size: 18px;
      padding-right: 8px; }
    .menu .menu-items .menu-item .button {
      width: 9%; }
.menu .add-item {
  float: right;
  background: #fff;
  margin-top: 8px;
  padding: 4px 8px; }
.menu .menu-order {
  padding: 12px 0 0 12px; }
  .menu .menu-order .order-header {
    background: #CF2643;
    padding: 6px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom: 4px solid #9b1d32; }
    .menu .menu-order .order-header h4 {
      color: #fff;
      font-family: "Proxima Nova";
      font-size: 20px;
      text-transform: uppercase; }
    .menu .menu-order .order-header h5 {
      width: 50%;
      text-align: right; }
      .menu .menu-order .order-header h5 .icon-button {
        width: 20px;
        background-color: rgba(0, 0, 0, 0.3); }
      .menu .menu-order .order-header h5 span {
        display: inline-block;
        padding: 0 6px;
        padding-top: 2px;
        color: #fff;
        font-family: "Proxima Nova"; }
  .menu .menu-order .user-visor {
    border-bottom: 4px solid #9b1d32; }
    .menu .menu-order .user-visor .flap {
      background: #CF2643;
      color: rgba(0, 0, 0, 0.4);
      padding: 8px 8px;
      cursor: pointer; }
    .menu .menu-order .user-visor .user-name {
      background: #f6cbd3; }
      .menu .menu-order .user-visor .user-name h5 {
        color: #454545;
        text-align: center;
        padding: 6px 8px;
        font-size: 18px;
        font-family: "Proxima Nova"; }
  .menu .menu-order .order-content {
    background: #f6cbd3;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px; }
.menu .menu-option {
  background-image: url(../icon/triangle-edit-svg.svg);
  background-position: right 13px top;
  background-repeat: no-repeat;
  padding-top: 12px;
  margin-top: -11px;
  margin-bottom: 14px; }
  .menu .menu-option .option-title .box {
    background-color: #7F73D3;
    border-bottom: 3px solid #5c4cc7;
    padding: 6px; }
    .menu .menu-option .option-title .box h3 {
      font-size: 20px;
      font-family: "Proxima Nova";
      color: #fff; }
    .menu .menu-option .option-title .box .icon-button {
      width: 20px;
      background-color: rgba(0, 0, 0, 0.3);
      background-size: 65%;
      background-position: center 9px;
      margin-right: 7px; }
  .menu .menu-option .options {
    background-color: #e9e7f8;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 10px 18px; }
    .menu .menu-option .options .option {
      margin-bottom: 30px; }
      .menu .menu-option .options .option p {
        font-family: "Proxima Nova"; }
      .menu .menu-option .options .option:first-child {
        margin-top: 12px; }
      .menu .menu-option .options .option:last-child {
        margin-bottom: 8px; }
      .menu .menu-option .options .option .option-value select {
        width: 100px; }

.order .order-content {
  padding-right: 12px; }

.info .info-block {
  padding-top: 18px; }
  .info .info-block .photo {
    padding: 14px; }
    .info .info-block .photo img {
      width: 100%;
      min-height: 180px;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 6px; }
  .info .info-block ul {
    margin: 14px; }
    .info .info-block ul li {
      margin: 18px 0;
      font-family: "Proxima Nova"; }
      .info .info-block ul li img {
        display: inline-block;
        margin-right: 12px; }
.info .reviews {
  margin-top: 30px; }
  .info .reviews .review {
    margin-bottom: 30px; }
    .info .reviews .review .review-title {
      height: 50px; }
      .info .reviews .review .review-title .avatar {
        width: 50px;
        height: 50px;
        display: inline-block;
        float: left;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 60px; }
      .info .reviews .review .review-title h3 {
        font-size: 22px;
        margin-top: 12px;
        margin-left: 60px;
        margin-bottom: 8px; }
      .info .reviews .review .review-title h4 {
        color: #909090;
        margin-left: 60px;
        font-size: 14px; }
    .info .reviews .review .review-content p {
      font-family: "Proxima Nova";
      line-height: 140%;
      margin-top: 12px;
      margin-right: 30px; }
    .info .reviews .review .review-content .ratings {
      padding-left: 14px;
      width: 22%;
      border-left: 1px solid #bbb; }
      .info .reviews .review .review-content .ratings .rating {
        margin-left: 14px; }
      .info .reviews .review .review-content .ratings ul li {
        margin: 6px 0;
        text-align: right;
        font-size: 14px;
        font-family: "Proxima Nova"; }
      .info .reviews .review .review-content .ratings .overall .rating {
        display: inline-block;
        padding-top: 12px;
        margin-top: 9px;
        border-top: 1px solid #bbb; }

.error {
  background: #eea0ae;
  text-align: center;
  color: #791627;
  border-radius: 6px;
  margin: 12px;
  padding: 8px;
  font-family: "Proxima Nova"; }

.error-page {
  margin: 20px;
  text-align: center; }
  .error-page h2 {
    font-family: "Alex Brush";
    font-size: 140px;
    margin: 40px; }
  .error-page h3, .error-page p {
    font-family: "Proxima Nova"; }
  .error-page h3 {
    font-size: 20px; }
  .error-page p {
    font-size: 16px;
    margin-top: 12px;
    color: #777; }

footer p {
  text-align: center;
  margin: 30px;
  text-align: center;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4); }

.signup .signup-info {
  width: 30%; }
  .signup .signup-info p {
    margin: 8px 16px; }
  .signup .signup-info .need-you {
    text-align: center; }
    .signup .signup-info .need-you img {
      width: 130px;
      margin-bottom: 16px; }

.login {
  width: 320px;
  height: 320px;
  margin: 0 auto; }
  .login .submit {
    text-align: center;
    margin-top: 28px; }

.empty-list {
  text-align: center;
  color: #ddd;
  font-style: italic;
  margin: 20px; }
  .empty-list.inverted {
    color: rgba(0, 0, 0, 0.4); }

.orders {
  margin-top: 18px; }

.static-webpage p {
  font-family: "Read"; }
.static-webpage h1 {
  text-align: center;
  font-family: "Read";
  font-size: 32px; }

.coming-soon {
  text-align: center;
  font-size: 170%;
  color: #777;
  font-style: italic; }
