
@font-face {
  font-family: 'Read';
  src: url('/JustDine/JustDine/assets/fonts/read/read.eot?#iefix') format('embedded-opentype'),  url('/JustDine/assets/fonts/read/read.otf')  format('opentype'),
	     url('/JustDine/assets/fonts/read/read.woff') format('woff'), url('/JustDine/assets/fonts/read/read.ttf')  format('truetype'), url('/JustDine/assets/fonts/read/read.svg#Read') format('svg');
  font-weight: normal;
  font-style: normal;
}
