
@font-face {
  font-family: 'Title';
  src: url('/JustDine/assets/fonts/title/title.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Title';
  src:  url('/JustDine/assets/fonts/title/title.otf')  format('opentype'), url('/JustDine/assets/fonts/title/title.woff') format('woff'), url('/JustDine/assets/fonts/title/title.ttf')  format('truetype'), url('/JustDine/assets/fonts/title/title.svg#title') format('svg');
  font-weight: normal;
  font-style: normal;
}


